<section class="container">
  <section class="abs-nav">
    <app-menu1></app-menu1>
  </section>
  <section class="main">
    <section class="logo">
      <a href="/"><img src="/assets/images/logo.png" alt="logo-farzamte"></a>
    </section>
    <section class="info_1">
      <p>هدف ما توسعه و پیشرفت کار شماست</p>
    </section>
    <section class="info_2">
      <h4>فرآیند :</h4>
      <p>همواره سالهاست سرویس های قدرتند شرکت گوگل درحال بررسی و آنالیز وبسایت ها در بستر وب هستند ، شرکت گوگل این اطلاعات بدست آمده را بصورت رایگان در اختیار مالکان سایت ها قرار میدهد ، نکته اصلی که ما احساس وظیفه کردیم نحوه انتشار این اطلاعات است ، به عنوان مثال سرویس های گوگل داده های خیلی کمی را بصورت خلاصه منتشر میکنند و بقیه اطلاعات مهم و کلیدی را در قالب api به توسعه دهنده ها منتشر میکند ، هدف ما پردازش داده های مهمتر و منتشر کردن این داده ها در قالب چارت و نمودار است که برای شما تحلیل پذیر تر باشد</p>
    </section>
  </section>
  <app-footer1></app-footer1>
</section>
