.menu1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu1-container a {
  display: flex;
}
.menu1-container a img {
  width: 60px;
  margin-right: 1rem;
}
ul li {
  display: grid;
}
ul li a {
  text-decoration: none;
}
ul li a span {
  display: flex;
  align-items: center;
  font-family: Wingdings;
  font-size: 18px;
  margin-right: 0.5rem;
}
ul li.m-login a {
  color: #0e2749;
}
ul li.m-register a {
  color: #0e2749;
}
ul li.m-support a {
  color: #0e2749;
}
ul li.m-about a {
  color: #0e2749;
}
/* Adaptive Codes */
@media screen and (max-width:1200px){

}
@media screen and (max-width:992px){

}
@media screen and (max-width:768px) {
  ul li a{
    font-size: 18px;
  }
  ul li a span{
    font-size: 15px;
  }
  .menu1-container a img {
    width: 50px;
  }
}
@media screen and (max-width:600px) {

}
